- if logged_in?
  .row
    %aside.col-md-4
      %section.user_info
        = render 'shared/user_info'
      .center.jumbotron
        = link_to t(".create"), new_micropost_path
- else
  %h1 #{t (".home")}
  .center.jumbotron
    = link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary"
    = link_to t(".sign_in"), login_path, class: "btn btn-lg btn-primary"
