%h3 #{t (".add")}
= form_for([@micropost, @comments]) do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :body
    = f.text_area :body, required: true
  %p
    = f.hidden_field :user_id
  %br/
  %p
    = f.submit