%h3 #{t (".add")}
= form_for([@micropost, @comment]) do |f|
  - if current_user.present?
    = f.hidden_field :name
    = f.hidden_field :user_id
  - else
    %p
      = f.label :name
      = f.text_field :name
      = f.hidden_field :user_id, value: '207'
  %p
    = f.label :body
    = f.text_area :body, required: true
  %br/
  %p
    = f.submit