<% provide(:title, "All Users") %>

        <% @users.each do |user| %>
        <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <ul class="col-sm-11">
              <%= gravatar_for user %>
              <%= link_to user do %>
                <%= user.name %>
              <% end %><hr/>
              <%= user.email %>
            </ul>
          <%= link_to "delete user", user_path(user), method: :delete, class: "btn btn-sm btn-primary" %>
          </div>
        </div>
        </div>
        <% end %>
