- provide(:title, "All Users")
- @users.each do |user|
  .panel.panel-default
    .panel-body
      .row
        %ul.col-sm-11
          = gravatar_for user
          = link_to user do
            = user.name
          %hr/
          = user.email
        - if current_user.email == "talascan@googlemail.com"
          = link_to "edit user", edit_user_path(user), class: "btn btn-sm btn-primary"