<% provide(:title, "All Users") %>

        <% @users.each do |user| %>
          <div class="row">
          <ul class="col-sm-10">
          <%= gravatar_for user %>
          <%= link_to user do %>
          <%= user.name %>
          <% end %>
          <%= user.email %>
          </ul>
          <%= link_to "delete user", user_path(user), method: :delete, class: "btn btn-sm btn-primary" %>
          </div>
        <% end %>
