= provide(:title, @user.name)
- if @user.avatar_url
  = image_tag @user.avatar_url
.row
  %aside.col-md-4
    %section.user_info
      %h1
        #{gravatar_for @user}
        #{@user.name}
%h3 created at:
= @user.created_at.strftime("%D")
%br/
%br/
- @microposts.each do |micropost|
  %hr/
  %p
    %b= t(".date")
    = micropost.created_at.strftime("%D")
    %br/
    = link_to micropost do
      = micropost.titel
      %br/
      = sanitize(truncate(micropost.content, length: 20))