= provide(:title, @user.name)
.row
    
  %aside.col-md-4
        
    %section.user_info
            
      %h1
              #{gravatar_for @user}
                #{@user.name}
              
          
      
= image_tag @user.avatar_url
%h3 created at:
= @user.created_at
%br/
%br/
- @microposts.each do |micropost|
  %hr/
  %p
    %b= "Datum:"
    = micropost.created_at.strftime("%D")
    %br/
    = link_to micropost do
      = micropost.titel
      %br/
      = sanitize(truncate(micropost.content, length: 20))
