%section.micropost_form
  = form_for(@micropost) do |f|
    - @tags.each do |tag|
      = check_box_tag 'tag[]', tag.id, checked = @micropost.tags.include?(tag)
      = h tag.name
    .field
      = f.text_area :titel, required: true
    .field
      = f.text_area :content, required: true
    = f.submit t(".update"), class: "btn btn-primary"