<section class="micropost_form">
<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% @tags.each do |tag| %>
      <%= check_box_tag 'tag[]', tag.id -%>
      <%= h tag.name -%>
    <% end %>
    <div class="field">
      <%= f.text_area :titel, placeholder: "title..." %>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    </div>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</section>
        

