= javascript_pack_tag 'application'
%p
.row
  .col-md-12
    #{t (".sort")}
    = link_to t(".author"), microposts_path(:sort => "user_id"), :class=> "btn btn-primary btn-sm active"
    = link_to t(".publish"), microposts_path(:sort => "created_at DESC"), :class=> "btn btn-primary btn-sm active"
    = link_to t(".update"), microposts_path(:sort => "updated_at DESC"), :class=> "btn btn-primary btn-sm active"
    -# - @tags.each do |tag|
    -#   %p
    -#     = link_to tag.name microposts_path(:sort => "tag.name"), :class=> "btn btn-primary btn-sm active"
    .space1
- @microposts.each do |micropost|
  .panel.panel-default
    .panel-body
      = gravatar_for micropost.user
      .col-md-6
        = link_to micropost.user do
          .black-link
            = micropost.user.name
      = link_to micropost do
        .row
          .col-sm-6
            %hr/
            %h3= micropost.titel
            %hr/
            %h4= sanitize(truncate(micropost.content, length: 20))
            - if micropost_from_current_user?(micropost)
              %hr/
              = link_to t(".edit"), edit_micropost_path(micropost)
              = link_to t(".delete"), micropost_path(micropost), method: :delete
  - if micropost.comments.present?
    %h4 #{t (".comments")}
    = micropost.comments.first.body
    .space1