= form_for(@micropost, html: { class: 'directUpload',  data: { 'form-data' => (@s3_direct_img.fields), 'url' => @s3_direct_img.url, 'host' => URI.parse(@s3_direct_img.url).host } }) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.label :img
    = f.file_field :img_url, class: 'field'
    = f.text_area :titel, placeholder: "title...", required: true
    = f.text_area :content, placeholder: "Compose new micropost...", required: true
  = button_tag "Post", class: "btn btn-primary", id:'post-btn'