- if @micropost.img_url.present?
  = image_tag @micropost.img_url
%p
#micropost-id{"data-micropost-id" => "#{@micropost.id}"}
%h4#titel= @micropost.titel
%br/
#content= @micropost.content
%hr/
= render @micropost.comments
- @tags.each do |t|
  = t.name
= render 'comments/form'
- if micropost_from_current_user?(@micropost)
  = link_to "edit", edit_micropost_path
  = link_to "delete", micropost_path, method: :delete