%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      %nav
        %ul.nav.navbar-nav.navbar-right
          %li= link_to t(".home"),   root_path
          %li= link_to t(".posts"),  microposts_path
          - if logged_in?
            %li= link_to t(".tags"),   tags_path
            %li= link_to t(".users"), all_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                #{t (".account")}
                %b.caret
              %ul.dropdown-menu
                %li= link_to t(".profile"), current_user
                %li= link_to t(".settings"), edit_user_path(current_user)
                %li.divider
                %li
                  = link_to t(".log_out"), logout_path, method: :delete
          - else
            %li= link_to t(".log_in"), login_path
          %li= link_to t(".help"),   help_path